@import '../modules/all';
* {
  box-sizing: border-box;
}

.NavButton {
  font-family: $font-lato;
  font-size: 1rem;
  padding: 0.4rem 0.9rem;
  cursor: pointer;
  font-weight: 700;
  border-radius: 0.28571429rem;
  transition: all 0.2s ease;
}

.ant-layout-content {
  color: rgba(0, 0, 0, 0.65);
  padding: 1rem 1rem;
  background-color: #fff;
}

.dark-on-light {
  // margin-left: 18%;
  // margin-right: auto;
  display: block;
  border: 2px solid $text-dark;
  background-color: $bg-light;
  // transform: translate3d(50%, 0, 0);

  &:hover {
    background-color: $text-dark;
    color: $text-light;
  }
}

body {
  margin: 0;
}

// font weights
// base font
body {
  font-family: $font-lato;
  font-size: 1rem;

  // @media screen and (max-width: 1000px) {
  //   font-size: 0.9rem;
  // }

  @media screen and (max-width: 600px) {
    font-size: 0.9rem;
  }
}

h3.ant-typography {
  @media screen and (max-width: 1000px) {
    font-size: 19px;
  }

  @media screen and (max-width: 600px) {
    font-size: 14px;
  }
}

// headings
@import '../modules/all';
