@import "../modules/all";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

// font weights
// base font
body {
  font-family: $font-lato;
}

// headings
@import "../modules/all";
