.Catalog-program-table {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.Cart {
  position: fixed;
  z-index: 3000;
  right: 2.2rem;
  font-size: 2rem;
  top: 1rem;
  background: none;
}

sup.ant-scroll-number {
  position: absolute;
  top: 0.2rem;
}

#shopping-cart {
  border: none;
  font-size: 2.1rem;
  background: none;
  color: rgba(255, 255, 255, 0.7);

  &:hover {
    color: #fffff6;
  }
}
