.RegistrationForm.ant-form.ant-form-horizontal {
  @include card-border-shadow;
  margin: 5rem auto;
  max-width: 650px;
  padding: 4rem;

  @media (max-width: 673px) {
    border: none;
    box-shadow: none;
  }

  .ant-col-sm-8 {
    @media (min-width: 576px) {
      width: 100% !important;
    }
  }

  span.ant-input-group-addon {
    background-color: #fff;
  }
  button.dark-on-light {
    border: 2px solid #1b1c1d;
    background: transparent none;
    color: #1b1c1d;
  }

  button.dark-on-light:hover {
    color: #fff;
    background-color: #1b1c1d;
    border: 2px solid #efefef;
  }

  button.center-inline {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  div.ant-page-header {
    margin-left: 0px;
    padding-left: 0px;
  }
  div.ant-row {
    display: flex;
    justify-content: flex-end;
  }

  div.ant-row.ant-form-item {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }

  div.ant-col.ant-form-item-label {
    text-align: left;
  }

  .top-margin-sm {
    margin-top: 1rem;
  }

  .top-margin-lg {
    margin-top: 4rem;
  }
}
