.Home {
  .Home-top-segment {
    background: $bg-dark;
    min-height: 700px;
    color: $text-light;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 400px;
      height: auto;

      .icon-full {
        width: 10rem;
        height: auto;
        display: block;
      }

      .motto {
        text-transform: uppercase;
        margin-top: 1rem;
        line-height: 0.9;

        & span {
          display: block;
          font-family: $font-poppins;
        }
        .line1 {
          font-weight: $poppins-semi-bold;
          font-size: 4rem;
        }
        .line2 {
          font-weight: $poppins-semi-bold;
          font-size: 4.5rem;
          margin-bottom: 0.7rem;
        }

        .line3 {
          font-size: 1rem;
          font-weight: 300;
          text-align: center;
          letter-spacing: 0.8px;
        }
      }
    }
  }

  .Home-mid-segment {
    background: $bg-light;
    .what-we-do-container {
      padding-bottom: 7rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-bottom: 1px solid $border-thin-dark;

      .text-and-image-container {
        @include grid;
        margin: 5rem auto 5rem auto;

        .text-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          grid-column: 1/7;
        }

        .img-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          grid-column: 8/13;
        }

        @media screen and (max-width: 900px) {
          .text-container {
            grid-column: 1/13;
            margin: 5rem auto 2rem auto;
          }
          .img-container {
            grid-column: 1/13;
          }
        }
      }
    }
  }

  .testimonials {
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;

    .header {
      @include section-header-light-bg;
      margin: 3rem 2rem;
    }
    .testimonials-grid-container {
      @include grid;
      margin: 0rem auto 5rem auto;

      .Testimonial {
        grid-column: span 12;
      }

      @media screen and (min-width: 650px) {
        .Testimonial {
          grid-column: span 6;
        }
      }
      @media screen and (min-width: 1100px) {
        .Testimonial {
          grid-column: span 4;
        }
      }
    }
  }

  .footer {
    background: $bg-dark;
    color: $text-light;
    font-family: $font-lato;
    padding-bottom: 5rem;
    border-bottom: $border-thin-dark;

    .site-map-grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 7rem;

      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 2rem;

      .footer-col {
        width: 15%;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        margin-bottom: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        flex-wrap: wrap;
      }

      @media screen and (max-width: 800px) {
        .footer-col {
          width: 25%;
        }
        .contact-form {
          width: 50%;
        }
      }

      @media screen and (max-width: 600px) {
        .footer-col {
          width: 25%;
        }
        .contact-form {
          width: 75%;
        }
      }

      @media screen and (max-width: 400px) {
        .footer-col {
          width: 25%;
        }
        .contact-form {
          width: 100%;
        }
      }
    }
    .head {
      font-weight: $poppins-semi-bold;
      margin-bottom: 0.5rem;
      color: $text-light;
    }

    .site-map-link {
      text-decoration: none;
      color: $nav-light;

      &:hover {
        color: $nav-light-hover;
      }
    }
  }

  .social-media {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 1rem;

    & * {
      margin-right: 1rem;
    }

    .social-icons {
      display: flex;
      align-items: center;
      margin-left: auto;

      .fab {
        font-size: 1.75rem;

        &:hover {
          color: white;
        }
      }
    }
  }
}
