.NavButton {
  font-family: $font-lato;
  font-size: 1rem;
  padding: 0.4rem 0.9rem;
  cursor: pointer;
  font-weight: 700;
  border-radius: 0.28571429rem;
  transition: all 0.2s ease;
}

.dark-on-dark {
  border: 2px solid white;
  background: transparent none;
  color: $text-light;

  &:hover {
    color: $bg-dark;
    background-color: $text-light;
  }
}

.navbar {
  margin-right: 0.4rem;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.light-on-light {
  background: #e0e1e2 none;
  border: none;
  padding: 0.78571429em 1.5em 0.78571429em;
  color: $text-medium;

  &:hover {
    background-color: #cacbcd;
    color: $text-dark;
  }
}

.fixed-width {
  width: 10rem;
}
