.ServiceCard {
  @include card-border;
  width: 100%;
  margin-bottom: 4rem;
  margin-right: 3rem;
  position: relative;
  padding: 2rem 1rem;

  @media screen and (min-width: 915px) {
    width: 50%;
  }

  .ServiceCard-sub-header {
    color: $text-muted;
    text-transform: uppercase;
    position: relative;
    font-weight: 300;
    top: 0;
    margin-top: 0;
    margin-bottom: 4rem;
    font-size: 1.5rem;
    @media screen and (max-width: 505px) {
      width: 50%;
    }
  }

  .ServiceCard-clip-container {
    width: 9rem;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(8deg);

    @media screen and (max-width: 550px) {
      width: 6rem;
      height: 6rem;
    }
    .ServiceCard-clip-icon {
      z-index: 1;
      width: 2.7rem;
      height: auto;
      display: block;
      left: 45px;
      right: 5px;
      top: -5px;
      position: absolute;

      @media screen and (max-width: 550px) {
        width: 1.8rem;
      }
    }

    .ServiceCard-header {
      font-size: 1.5rem;
      font-family: $font-lato;
      margin-bottom: 0.5rem;
      margin-top: 0;
      position: absolute;
      top: 3.5rem;
    }

    .post-it {
      font-family: 'Nothing You Could Do', cursive, Arial, Helvetica, sans-serif;
      font-size: 1.2rem;
      z-index: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 9rem;
      height: 9rem;
      padding: 0.5rem;
      background-color: rgb(197, 226, 245);
      position: absolute;
      -webkit-box-shadow: 0 0 4px -4px rgba(0, 0, 0, 0.2),
        inset 0 0 50px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 4px -4pxrgba (0, 0, 0, 0.2),
        inset 0 0 50px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 5px -5px rgba(0, 0, 0, 0.2),
        inset 0 0 50px rgba(0, 0, 0, 0.1);

      @media screen and (max-width: 550px) {
        width: 6rem;
        height: 6rem;
        font-size: 0.8rem;
      }
    }

    .shadow-left {
      z-index: -20;
      position: absolute;
      width: 50%;
      height: 10px;
      content: ' ';
      bottom: 5px;
      left: 1px;
      background: transparent;
      -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

    .shadow-left {
      -webkit-transform: skew(-5deg) rotate(-5deg);
      -moz-transform: skew(-5deg) rotate(-5deg);
      -ms-transform: skew(-5deg) rotate(-5deg);
      -o-transform: skew(-5deg) rotate(-5deg);
      transform: skew(-5deg) rotate(-5deg);
    }

    @media screen and (max-width: 550px) {
      justify-content: center;
      .shadow-left,
      .shadow-right {
        display: none;
      }
    }
  }

  .ServiceCard-main-content {
    .Service-body {
      font-size: 1.2rem;
    }

    .Service-header {
      margin-bottom: 0.5rem;
    }
  }
}
