.SignupForm,
.offscreen {
  position: fixed;
  background: #ffffff;
  height: 80vh;
  width: 34vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2.25rem;
  padding-top: 2rem;
  transition: all 0.3s ease;

  label {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }

  input[type="text"],
  input[type="email"] {
    margin-bottom: 1rem;
    padding: 0.3rem 0.5rem;
    width: 70%;
    height: 2rem;
    font-size: 0.9rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    outline: none;
    transition: #005cbf 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    @media screen and (max-width: 750px) {
      width: 60%;
    }
  }

  .radio-choice {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
  }

  .bottom {
    margin-bottom: 2.5rem;
  }

  .dark-on-light {
    margin-left: 20%;
    border: 2px solid $text-dark;
    background-color: $bg-light;

    &:hover {
      background-color: $text-dark;
      color: $text-light;
    }
  }
}

.SignupForm {
  transform: translate3d(0, 0, 0);
  @media screen and (max-width: 650px) {
    width: 80vw;
  }

  input:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
}

.offscreen {
  transform: translate3d(-200%, 0, 0);
}
