.Testimonial {
  @include card-border;
  position: relative;
  font-family: $font-lato;
  padding: 1.5rem 1rem 1rem 1rem;
  margin-bottom: 1rem;
  height: 17rem;

  .Testimonial-body {
    margin-top: 0;
    font-size: 1.2rem;
    text-align: justify;
  }

  .name-type {
    position: absolute;
    bottom: 0.25rem;
    right: 1rem;
  }
  &-name {
    width: 10rem;
    display: block;
    margin-left: auto;
    text-align: right;
    font-size: 1.2rem;
  }

  &-type {
    display: block;
    color: $text-dark;
    padding: 0.25rem 1rem;
    width: 5rem;
    text-align: center;
    margin-left: auto;
    font-weight: bold;
    font-style: italic;
  }
}
