.TextBlock {
  color: $text-dark;
  padding: 0 1rem;

  &-header {
    font-size: $text-block-header;
    font-family: $font-lato;
    margin-bottom: 0.5rem;
    margin-top: 0;
    // text-align: left;
  }

  &-body {
    // font-size: $text-block-header;
    font-family: $font-lato;
    font-size: $text-paragraph-body;
    text-align: justify;
  }
}
