// animation

@mixin hamburger-rotate($degrees: 0deg) {
  position: absolute;
  width: 30px;
  height: 3px;
  background: $text-light;
  top: 50%;
  transform: translateY(-1.5px) rotate($degrees);
  transition: all 0.5s;
}

// borders
@mixin thin-bottom-border() {
  border-bottom: 1px solid $border-thin-dark;
}

// headers
@mixin section-header-light-bg() {
  font-size: 2.25rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: $text-dark;
}

@mixin grid {
  display: grid;
  justify-content: center;
  width: 97%;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 0.5rem;
}
