//font
//family
$font-lato: "Lato", sans-serif;
$font-poppins: "Poppins", sans-serif;

//weight:
$poppins-semi-bold: 600;
$poppins-bold: 700;

// size
$text-block-header: 2.25rem;
$text-section-header: 2.5rem;
$text-paragraph-body: 1.4rem;

//colors
//text
$text-light: rgba(255, 255, 255, 0.9);
$text-dark: rgba(0, 0, 0, 0.87);
$text-medium: rgba(0, 0, 0, 0.6);
$nav-light: rgba(255, 255, 255, 0.7);
$nav-light-hover: rgba(255, 255, 255, 0.9);

//bg
$bg-dark: #1b1c1d;
$bg-light: #fff;

//border
$border-thin-dark: rgba(34, 36, 38, 0.15);
